<!DOCTYPE html>
<html>
<head>
	<title>Post Internship Jobs</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Internship Job Post</h1>

		<body bgcolor="lightgrey">

			<form action="/jobPosting" autocomplete="on" method = "POST" enctype="multipart/form-data">

				Company ID:<br><input id="comp_id" style="height:25px;font-size:14pt; color:grey;" type="text" name="comp_id" value="{{ company_log_id }}" readonly><br><br>
			
                Job Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="job_id"><br><br>

		  		Job Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="job_name"><br><br>

		  		Job Description:<br> <input style="height:300px;font-size:14pt;color:grey;" type="text" name="std_pass"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Post Job</button>

			</form>
		</body>

	</font>
</center>
<script>
    // Retrieve the company_log_id from wherever it's available
    var company_log_id = "{{ company_log_id }}";  // Replace with the actual source of company_log_id

    // Set the value of the comp_id input field
    document.getElementById("comp_id").value = company_log_id;
</script>
</html>

