<!DOCTYPE html>
<html>
<head>
    <title>Post Internship Jobs</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">
        <h1 style="color: DodgerBlue">Internship Job Post</h1>
        <body bgcolor="lightgrey">
            <form action="/jobPosting" autocomplete="on" method="POST" enctype="multipart/form-data">
                <button type="button" name="reveal_id" onclick="toggleCompanyId()" style="background: grey; margin-top: 5px; height: 30px; width: 100px; color: white; font-style: oblique;">Reveal ID</button><br><br>
                <!-- Display the Company ID when show_company_id is True -->
                {% if show_company_id %}
                  Company ID: <strong>{{ company_log_id }}</strong><br><br>
                {% endif %}
                <!-- Job posting form fields -->
                Job Name:<br>
                <input style="height: 25px; font-size: 14pt; color: grey;" type="text" name="job_id"><br><br>
                Job Name:<br>
                <input style="height: 25px; font-size: 14pt; color: grey;" type="text" name="job_name"><br><br>
                Job Description:<br>
                <input style="height: 300px; font-size: 14pt; color: grey;" type="text" name="job_desc"><br><br>
                <!-- Submit button for posting the job -->
                <button type="submit" name="submit_job" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font: oblique;">Post Job</button>
            </form>
        </body>
    </font>
</center>

<script>
  function toggleCompanyId() {
    var companyIdElement = document.querySelector('strong'); // Select the strong element
    companyIdElement.style.display = companyIdElement.style.display === 'none' ? 'inline' : 'none';
  }
</script>
</html>
