<!DOCTYPE html>
<html>
<head>
	<title>Intern Application</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Intern Information</h1>

		<body bgcolor="lightgrey">

			

				<div>

                    
			  		Student ID:<br> {{ std_id }} <br><br>

			  		First Name:<br> {{ std_first_name }} <br><br>

			  		Last Name:<br> {{ std_last_name }} <br><br>

			  	

			  		

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Accept Candidate</button>
			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Reject Candidate</button>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>

