<!DOCTYPE html>
<html>
<head>
    <title>Staff Home Page</title>
</head>
<body>
    <h1>Welcome to the Staff Home Page</h1>

    <p>Please choose an action:</p>

    <!-- Buttons for different portals -->
    <button><a href="/toSupervisorRegister">Register Supervisor</a></button><br/><br/>
    <button><a href="/toStaffRegister">Register Staff</a></button><br/><br/>
    <button><a href="/toValidateCompany">Validate Company</a></button><br/><br/>
    <button><a href="/toAssignStudent">Assign Students to Supervisors</a></button><br/><br/>

    Are you not a Staff? <a href="/">Click here</a> to go back
    
</body>
</html>
