<!DOCTYPE html>
<html>
<head>
	<title>Staff Register</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Staff Register</h1>

		<body bgcolor="lightgrey">

			<form action="/staffregister" autocomplete="on" method = "POST" enctype="multipart/form-data">

				

                Staff ID:<br/> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="stf_register_id" placeholder="Enter staff ID as 'staff_XX'"><br/><br/>

                Staff Name:<br/> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="stf_register_name"><br/><br/>

		  		Password:<br/> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="stf_register_pass"><br/><br/>

		  		Confirm Password:<br/> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="stf_register_confirm_pass"><br/><br/>		  		

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Sign In</button>

			</form><br/>
            <a href="/ToStaffHomePage">Go Back</a>
		</body>

	</font>
</center>
</html>

