<!DOCTYPE html>
<html>
<head>
    <title>View Assigned Students</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">

        <h1 style="color: DodgerBlue">View Assigned Students</h1>

        <body bgcolor="lightgrey">

            <form action="/viewAssignedStudents" method="POST">

                Enter Staff ID:<br /> <input class="first_input" style="height:25px;font-size:14pt; color:grey;" type="text"name="stf_id"><br /><br />
                </select><br/><br/>
        
                <!-- View Students button -->
                <button type="submit">View Assigned Students</button>
            </form>

        </body>

    </font>
</center>
</html>
